[build-system]
requires = ["setuptools>=64", "setuptools_scm[toml]>=6.2", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "ophyd-async"
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
description = "Asynchronous Bluesky hardware abstraction code, compatible with control systems like EPICS and Tango"
dependencies = [
    "typing-extensions;python_version<'3.8'",
    "networkx>=2.0",
    "numpy",
    "packaging",
    "pint",
    "bluesky @ git+https://github.com/coretl/bluesky.git@async-stage",
    "event-model",
    "p4p",
    "scanspec",
] # Add project dependencies here, e.g. ["click", "numpy"]

dynamic = ["version"]
license.file = "LICENSE"
readme = "README.rst"
requires-python = ">=3.9"

[project.optional-dependencies]
ca = ["aioca>=1.6"]
pva = ["p4p"]
dev = [
    "ophyd_async[pva]",
    "ophyd_async[ca]",
    "attrs>=19.3.0",
    "black",
    "bluesky @ git+https://github.com/coretl/bluesky.git@async-stage",
    "caproto[standard] >=0.4.2rc1",
    "pytest-codecov",
    "databroker>=1.0.0b1",
    "doctr",
    "epics-pypdb",
    "flake8",
    "flake8-isort",
    "Flake8-pyproject",
    "h5py",
    "inflection",
    "ipython",
    "ipywidgets",
    "matplotlib",
    "mypy",
    "myst-parser",
    "numpydoc",
    "ophyd",
    "pipdeptree",
    "pre-commit",
    "pydata-sphinx-theme>=0.12",
    "pyepics>=3.4.2",
    "pyside6",
    "pytest",
    "pytest-asyncio",
    "pytest-cov",
    "pytest-faulthandler",
    "pytest-rerunfailures",
    "pytest-timeout",
    "sphinx-autobuild",
    "sphinx-copybutton",
    "sphinx-design",
    "tox-direct",
    "types-mock",
]

[project.scripts]
ophyd-async = "ophyd_async.__main__:main"

[project.urls]
GitHub = "https://github.com/bluesky/ophyd-async"

[[project.authors]] # Further authors may be added by duplicating this section
email = "tom.cobb@diamond.ac.uk"
name = "Tom Cobb"


[tool.setuptools_scm]
write_to = "src/ophyd_async/_version.py"

[tool.mypy]
ignore_missing_imports = true          # Ignore missing stubs in imported modules
plugins = ["numpy.typing.mypy_plugin"]

[tool.isort]
float_to_top = true
profile = "black"

[tool.flake8]
extend-ignore = [
    "E203", # See https://github.com/PyCQA/pycodestyle/issues/373
    "F811", # support typing.overload decorator
    "F722", # allow Annotated[typ, some_func("some string")]
    "W504",
    "W503",
]
max-line-length = 88 # Respect black's line length (default 88),
exclude = [".tox", "venv"]

[tool.pytest.ini_options]
# Run pytest with all our checkers, and don't spam us with massive tracebacks on error
addopts = """
    --tb=native -vv --strict-markers --doctest-modules --doctest-glob="*.rst"
    --ignore=docs/user/examples --ignore=docs/examples
    --cov=src/ophyd_async --cov-report term --cov-report xml:cov.xml
"""
# https://iscinumpy.gitlab.io/post/bound-version-constraints/#watch-for-warnings
filterwarnings = ["error", "ignore::DeprecationWarning:pkg_resources"]
# Doctest python code in docs, python code in src docstrings, test functions in tests
testpaths = "docs src tests"
log_format = "%(asctime)s,%(msecs)03d %(levelname)s (%(threadName)s) %(message)s"
log_date_format = "%H:%M:%S"

markers = [
    "motorsim: require the motorsim IOC to be running",
    "adsim: require the ADsim IOC to be running",
]
asyncio_mode = "auto"

[tool.coverage.run]
data_file = "/tmp/ophyd_async.coverage"

[tool.coverage.paths]
# Tests are run from installed location, map back to the src directory
source = ["src", "**/site-packages/"]

# tox must currently be configured via an embedded ini string
# See: https://github.com/tox-dev/tox/issues/999
[tool.tox]
legacy_tox_ini = """
[tox]
skipsdist=True

[testenv:{pre-commit,mypy,pytest,docs}]
# Don't create a virtualenv for the command, requires tox-direct plugin
direct = True
passenv = *
allowlist_externals = 
    pytest 
    pre-commit
    mypy
    sphinx-build
    sphinx-autobuild
commands =
    pytest: pytest --cov=ophyd_async --cov-report term --cov-report xml:cov.xml {posargs}
    mypy: mypy src tests {posargs}
    pre-commit: pre-commit run --all-files {posargs}
    docs: sphinx-{posargs:build -EW --keep-going} -T docs build/html
"""
