name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:

  lint:
    uses: ./.github/workflows/_tox.yml
    with:
      tox: pre-commit,type-checking

  test:
    strategy:
      matrix:
        runs-on: ["ubuntu-latest", "windows-latest"] # can add macos-latest
        python-version: ["3.11", "3.12", "3.13"]
      fail-fast: false
    uses: ./.github/workflows/_test.yml
    with:
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  docs:
    uses: ./.github/workflows/_docs.yml

  system_tests:
    uses: ./.github/workflows/_system_test.yml

  dist:
    uses: ./.github/workflows/_dist.yml

  pypi:
    needs: [dist, test]
    if: github.ref_type == 'tag'
    uses: ./.github/workflows/_pypi.yml
    permissions:
      id-token: write

  codeql:
    uses: ./.github/workflows/_codeql.yml

  release:
    needs: [dist, test, docs, system_tests]
    if: github.ref_type == 'tag'
    uses: ./.github/workflows/_release.yml
    permissions:
      contents: write
